extends ../template

block variables
    - var title = 'ALP'    

block content
    .erp-container
        .erp-container-header
            span Этапы эволюционного развития системы управления на предприятии
        .erp-container-tabs
            .erp-container-tabs-item.active
                img(src="assets/images/tab-arrow.svg", alt="")
                .erp-container-tabs-item-number                    
                    span 1
                .erp-container-tabs-item-text
                    span Разрозненные специализированные бизнес-системы
            .erp-container-tabs-item
                img(src="assets/images/tab-arrow.svg", alt="")
                .erp-container-tabs-item-number                    
                    span 2
                .erp-container-tabs-item-text
                    span Интегрированная система управления предприятием (ERP)
            .erp-container-tabs-item
                img(src="assets/images/tab-arrow.svg", alt="")
                .erp-container-tabs-item-number                    
                    span 3
                .erp-container-tabs-item-text
                    span ERP + доп. ист. данных в комплексе + инструменты Business Intelligence
            .erp-container-tabs-item
                img(src="assets/images/tab-arrow.svg", alt="")
                .erp-container-tabs-item-number                    
                    span 4
                .erp-container-tabs-item-text
                    span ERP + DDM + BI
        .erp-container-content
            .erp-container-content-text
                .erp-container-content-text-header
                    span 1. ERP + DDM + BI
                .erp-container-content-text-main
                    span Это качественно новое состояние:
                    | организация преодолевает ограничения
                    | в информационной поддержке управленческих
                    | решений и полноценно использует менеджмент
                    | на основе данных. Новые технологии
                    | (Big Data, машинное обучение, «слабый ИИ» и ряд других)
                    | открывают беспрецедентные возможности
                    | выявления закономерностей и создания гипотез,
                    | лежащие далеко за гранью возможного для
                    | традиционных систем бизнес-анализа структурированной информации.
            .erp-container-content-text
                .erp-container-content-text-header
                    span 2. ERP + DDM + BI
                .erp-container-content-text-main
                    span Это качественно новое состояние:
                    | организация преодолевает ограничения
                    | в информационной поддержке управленческих
                    | решений и полноценно использует менеджмент
                    | на основе данных. Новые технологии
                    | (Big Data, машинное обучение, «слабый ИИ» и ряд других)
                    | открывают беспрецедентные возможности
                    | выявления закономерностей и создания гипотез,
                    | лежащие далеко за гранью возможного для
                    | традиционных систем бизнес-анализа структурированной информации.
            .erp-container-content-text
                .erp-container-content-text-header
                    span 3. ERP + DDM + BI
                .erp-container-content-text-main
                    span Это качественно новое состояние:
                    | организация преодолевает ограничения
                    | в информационной поддержке управленческих
                    | решений и полноценно использует менеджмент
                    | на основе данных. Новые технологии
                    | (Big Data, машинное обучение, «слабый ИИ» и ряд других)
                    | открывают беспрецедентные возможности
                    | выявления закономерностей и создания гипотез,
                    | лежащие далеко за гранью возможного для
                    | традиционных систем бизнес-анализа структурированной информации.
            .erp-container-content-text
                .erp-container-content-text-header
                    span 4. ERP + DDM + BI
                .erp-container-content-text-main
                    span Это качественно новое состояние:
                    | организация преодолевает ограничения
                    | в информационной поддержке управленческих
                    | решений и полноценно использует менеджмент
                    | на основе данных. Новые технологии
                    | (Big Data, машинное обучение, «слабый ИИ» и ряд других)
                    | открывают беспрецедентные возможности
                    | выявления закономерностей и создания гипотез,
                    | лежащие далеко за гранью возможного для
                    | традиционных систем бизнес-анализа структурированной информации.
            .erp-container-content-graphics                
                .erp-container-content-graphics-left-docs
                    img(src="assets/images/left-docs.svg", alt="")
                .erp-container-content-graphics-erp.slide1
                    .erp-container-content-graphics-erp-main
                        img(src="assets/images/erp.svg", alt="")
                    .erp-container-content-graphics-star-path-1
                        img(src="assets/images/path1.svg", alt="")
                .erp-container-content-graphics-star.slide1                    
                    .erp-container-content-graphics-star-path-2
                        img(src="assets/images/path2.svg", alt="")
                    .erp-container-content-graphics-star-main
                        img(src="assets/images/star.svg", alt="")
                    .erp-container-content-graphics-star-doc
                        img(src="assets/images/doc.svg", alt="")
                    .erp-container-content-graphics-star-xls
                        img(src="assets/images/xls.svg", alt="")
                    .erp-container-content-graphics-star-xml
                        img(src="assets/images/xml.svg", alt="")
                    .erp-container-content-graphics-star-ga
                        img(src="assets/images/ga.svg", alt="")
                    .erp-container-content-graphics-star-top-left
                        img(src="assets/images/top-left.svg", alt="")
                    .erp-container-content-graphics-star-top-right
                        img(src="assets/images/top-right.svg", alt="")
                    .erp-container-content-graphics-star-bottom-left
                        img(src="assets/images/bottom-left.svg", alt="")
                    .erp-container-content-graphics-star-bottom-right
                        img(src="assets/images/bottom-right.svg", alt="")
                .erp-container-content-graphics-business.slide1
                    img(src="assets/images/business.svg", alt="")                
                .erp-container-content-graphics-ddm.slide1
                    img.ddm-path(src="assets/images/path3.svg", alt="")                    
                    img.ddm-main(src="assets/images/ddm.svg", alt="")           
                

        
            

            

        