extends ../template

block variables
    - var title = 'ALP'    

block content
    .minicase-block-wrapper
        .minicase-block-header
            span Внедрили десятки профильных бизнес-решений
        .minicase-block-slider
            .minicase-block-item
                .minicase-block-item-upper
                    .minicase-block-item-header
                        span Взаиморасчеты в реальном времени 
                    .minicase-block-item-main-text
                        span Полный контроль всех взаиморасчетов
                        | компании в режиме онлайн. Исключение
                        | ситуации бесплатного кредитования контрагентов,
                        | новые финансовые модели предприятия.
                        | Новые схемы работы с контрагентами.
                .minicase-block-item-lower
                    .minicase-block-item-digits
                        span до 5% 
                    .minicase-block-item-description
                        span получения средств в обороте компании за счет отсутствия просроченной ДЗ контрагентов
            .minicase-block-item
                .minicase-block-item-upper
                    .minicase-block-item-header
                        span Финансовое планирование онлайн 
                    .minicase-block-item-main-text
                        span Достоверный план-фактный анализ
                        | освоения бюджетов и контроль 
                        | выполнения планов в режиме реального времени. Мгновенное
                        | реагирование на изменение условий или отклонение от планов.
                .minicase-block-item-lower
                    .minicase-block-item-digits
                        span от 5 000 
                    .minicase-block-item-description
                        span человеко-часов экономии при формировании финансового плана
            .minicase-block-item
                .minicase-block-item-upper
                    .minicase-block-item-header
                        span Личный бухгалтерский аудитор 
                    .minicase-block-item-main-text
                        span Онлайн цифровой помощник готовности
                        | данных к процедуре быстрого закрытия отчётности компании.
                .minicase-block-item-lower
                    .minicase-block-item-digits
                        span на 15% 
                    .minicase-block-item-description
                        span и более снижает издержки ведения бухгалтерской операционной деятельности
            .minicase-block-item
                .minicase-block-item-upper
                    .minicase-block-item-header
                        span Налоговый контролер 
                    .minicase-block-item-main-text
                        span В режиме реального времени анализирует
                        | данные Компаниии требования налоговых
                        | органов к локальному и международному учёту.
                        | Исключает риск сдачи неверной отчётности.
                .minicase-block-item-lower
                    .minicase-block-item-digits
                        span 200%
                    .minicase-block-item-description
                        span сокращение трудоёмкости выверки бухгалтерских и налоговых документов


                

            
            