extends ../template

block variables
    - var title = 'ALP'    

block content
    .service-tagline
        .service-tagline-header
            h1 Как взять поток изменений под контроль и сделать его локомотивом развития бизнеса
                   
                

        
            

            

        