@import "vendor/normalize.scss";
@import "vendor/slick.scss";

@font-face {
    font-family: Uni Sans;
    src: url(../fonts/Uni_Sans_Regular.ttf);
}
@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-R.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Uni Neue;
    src: url(../fonts/unineuelight.ttf);
}
.erp-container {
    width: 100%;
    height: 790px;    
    background-color: #020415;
    box-sizing: border-box;
    padding: 80px 15px 50px 15px;
    .erp-container-main-content {
        overflow-x: auto;
        min-width: 1410px;
        max-width: 1410px;
        margin: 0 auto;
        background-color: #020415;
    }
    .erp-container-header {
        color: #fff;
        font-size: 42px;
        text-align: center;
        line-height: 60px;
        font-family: Uni Sans;
    }
    .erp-container-tabs {
        display: flex;
        width: 100%;   
        justify-content: space-between;        
        margin-bottom: 30px;
        margin-top: 30px;         
        .erp-container-tabs-item.active {
            background: #6940BF;
            box-shadow: 0px 10px 30px #6940BF;
            .erp-container-tabs-item-number {
                span {
                    color: #00FFB4;
                    opacity: 1;
                }
            }
        }  
        .erp-container-tabs-item {
            width: 330px;
            height: 60px;
            display: flex;
            background: #412973;
            border-radius: 30px;           
            padding: 10px 20px 10px 16px;
            box-sizing: border-box;
            position: relative;
            cursor: pointer;
            img {
                position: absolute;
                right: -24px;
                top: calc(50% - 4px);
            }
            &:last-child {
                img {
                    display: none;
                }
            }
            .erp-container-tabs-item-text {
                color: #fff;
                font-size: 14px;
                line-height: 20px;
                flex: 0 1 248px;
                align-self: center;
                font-family: Ubuntu;                
            }
            .erp-container-tabs-item-number {
                width: 36px;
                height: 36px;
                background-color: #1C132F;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: center;
                margin-right: 10px; 
                span {
                    color: #fff;
                    font-size: 14px;
                    line-height: 20px;
                    opacity: 0.4;
                    font-family: Roboto;
                }
            }
        }
    }
    .erp-container-content {
        width: 100%;
        height: 482px;        
        background-color: rgba($color: #DBDBDB, $alpha: 0.1);        
        border-radius: 20px;
        box-sizing: border-box;
        padding: 25px 30px;
        display: flex;
        .erp-container-content-graphics {
            display: flex;
            margin: 0 auto;
            max-width: 990px;
            height: 350px;
            justify-content: center;
            align-items: center;
            .erp-container-content-graphics-left-docs {
                flex: 0 1 278px;
                width: 278px;
            }
            .erp-container-content-graphics-erp.slide1 {
                .erp-container-content-graphics-erp-main, .erp-container-content-graphics-star-path-1 {
                    
                }
                transition-duration: 2s;
                opacity: 0;
                width: 0px;
                overflow: hidden;
            }
            .erp-container-content-graphics-erp.slide2 {                                
                width: 290px;         
                opacity: 1;       
            }
            .erp-container-content-graphics-business.slide2 {
                transform: translateX(-120px);
            }
            .erp-container-content-graphics-business.slide3, .erp-container-content-graphics-business.slide4 {
                transform: translateX(-150px);
                .erp-container-content-graphics-star-path-2 {
                    width: 100%;
                    transition-delay: 0.6s;
                    transition-duration: 2s;
                    opacity: 1;
                }
            }
            .erp-container-content-graphics-star.slide3, .erp-container-content-graphics-star.slide4 {                
                width: 400px;   
                opacity: 1;             
                .erp-container-content-graphics-star-doc, 
                .erp-container-content-graphics-star-xls, 
                .erp-container-content-graphics-star-xml, 
                .erp-container-content-graphics-star-ga {
                    opacity: 1;
                    transition-delay: 1s;
                    transition-duration: 1.5s;
                }
                .erp-container-content-graphics-star-top-left, 
                .erp-container-content-graphics-star-top-right, 
                .erp-container-content-graphics-star-bottom-left, 
                .erp-container-content-graphics-star-bottom-right {
                    height: 111px;
                    transition-delay: 1s;
                    transition-duration: 1.5s;
                }               
            }
            .erp-container-content-graphics-ddm.slide4 {
                opacity: 1; 
                width: 120px;               
            }
            .erp-container-content-graphics-star.slide1, .erp-container-content-graphics-star.slide2 {                
                width: 0px;
                overflow: hidden;                 
                .erp-container-content-graphics-star-doc, 
                .erp-container-content-graphics-star-xls, 
                .erp-container-content-graphics-star-xml, 
                .erp-container-content-graphics-star-ga {
                    opacity: 0;
                } 
                .erp-container-content-graphics-star-top-left, 
                .erp-container-content-graphics-star-top-right, 
                .erp-container-content-graphics-star-bottom-left, 
                .erp-container-content-graphics-star-bottom-right {
                    height: 0px;
                }              
            }
            .erp-container-content-graphics-ddm.slide1, .erp-container-content-graphics-ddm.slide2, .erp-container-content-graphics-ddm.slide3 {
                opacity: 0;                              
            }
            .erp-container-content-graphics-erp {
                transform: translateX(-55px);
                flex: 0 1 290px;
                width: 290px;                
                position: relative; 
                transition-duration: 2s;
                display: flex;
                align-items: center;
                justify-content: space-between; 
                overflow: hidden;
                .erp-container-content-graphics-erp-main {                  
                    transition-delay: 0.2s; 
                    transition-duration: 1s;  
                    z-index: 1;                  
                }              
                .erp-container-content-graphics-star-path-1 {                    
                    transition-delay: 0.4s;
                    transition-duration: 1s; 
                    transform: translateX(-35px);                                    
                } 
            }
            .erp-container-content-graphics-business {
                flex: 0 1 200px;
                width: 200px;
                z-index: 1;
                transform: translateX(-50px);
                transition-duration: 2s;
            }
            .erp-container-content-graphics-star-path-2 {               
                position: absolute;
                left: -100px;
                top: 70px;
                z-index: -1;
                width: 0;
                overflow: hidden;
                transition: 1.5s;   
                transition-delay: 0s;
                opacity: 0;   
                transform: translateX(-15px);                                
            } 
            .erp-container-content-graphics-ddm {
                width: 120px;               
                position: absolute;
                right: -125px;
                bottom: 10px;
                z-index: -1;
                transition-duration: 2s;                
                .ddm-path {                    
                    position: absolute;
                    top: calc(50% - 10px);
                    left: -60px;                                           
                }
                img {
                    &:nth-child(2) {
                        top: calc(50% - 14.5px);
                    }                    
                }
            }
            .erp-container-content-graphics-star {
                position: relative;                
                width: 400px;
                height: 350px;
                transform: translateX(-153px);
                display: flex;
                justify-content: flex-end;
                align-items: center;
                z-index: 2;
                transition-duration: 2s;                 
                overflow: hidden;
                opacity: 0;
                .erp-container-content-graphics-star-doc, 
                .erp-container-content-graphics-star-xls, 
                .erp-container-content-graphics-star-xml, 
                .erp-container-content-graphics-star-ga {
                    opacity: 0;
                    transition-delay: 0s;
                    transition-duration: 0s;
                }   
                .erp-container-content-graphics-star-top-left, 
                .erp-container-content-graphics-star-top-right, 
                .erp-container-content-graphics-star-bottom-left, 
                .erp-container-content-graphics-star-bottom-right {
                    transition-delay: 0s;
                    transition-duration: 0.5s;
                }           
                .erp-container-content-graphics-star-main {                    
                    z-index: 2;
                    order: 1;
                    transform: translateX(-69px);
                }                
                .erp-container-content-graphics-star-doc {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;
                }
                .erp-container-content-graphics-star-xls {
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 2;
                }
                .erp-container-content-graphics-star-xml {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 2;
                }
                .erp-container-content-graphics-star-ga {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    z-index: 2;
                }
                .erp-container-content-graphics-star-top-left {
                    position: absolute;
                    top: 40px;
                    left: 0;
                    height: 0px;
                    overflow: hidden;
                }
                .erp-container-content-graphics-star-top-right {
                    position: absolute;
                    top: 40px;
                    right: 0;
                    height: 0px;
                    overflow: hidden;
                }
                .erp-container-content-graphics-star-bottom-left {
                    position: absolute;
                    top: 200px;
                    left: 0;
                    height: 0px;
                    overflow: hidden;
                }
                .erp-container-content-graphics-star-bottom-right {
                    position: absolute;
                    top: 200px;
                    right: 0;
                    height: 0px;
                    overflow: hidden;
                }
            }
        }
        .erp-container-content-text { 
            width: 330px;
            font-family: Ubuntu;
            .erp-container-content-text-item {
                display: none;   
                &:first-child {
                    display: block;
                } 
                .erp-container-content-text-header {
                    color: #fff;
                    margin-bottom: 10px;
                    font-weight: bold;
                }
                .erp-container-content-text-main {
                    color: #fff;
                    font-size: 16px;
                    line-height: 25px;
                } 
            }           
        }
    }
}

// МИНИКЕЙСЫ
.minicase-block-wrapper {
    width: 100%;
    background-color: #020415;
    height: 800px;
    display: flex;
    padding: 100px 140px;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;    
}
.minicase-block-header {
    width: 100%;  
    margin-bottom: 70px; 
    text-align: center;    
}
.minicase-block-header span {
    color: #ffffff;
    font-family: "Uni Sans";
    font-size: 60px;
    font-weight: 400;    
}
.minicase-block-slider {
    width: 100%;  
    display: flex;  
}
.minicase-block-item {
    width: 388px;
    height: 400px;
    border-radius: 10px;
    background-color: #2f334d;    
    display: flex;
    flex-direction: column;
}
.minicase-block-item-upper {
    width: 100%;
    height: calc(100% - 180px);
    background-color: hsl(233, 23%, 14%);
    border-radius: 10px;
    padding: 45px 30px;
    box-sizing: border-box;
    overflow: hidden;
}
.minicase-block-item-header {
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
}
.minicase-block-item-main-text {
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 300;
}
.minicase-block-item-lower {
    width: 100%;
    height: 160px;
    box-sizing: border-box;
    padding: 30px;
    margin-top: auto;
}
.minicase-block-item-digits {
    color: #00ffb4;
    font-family: "Uni Neue";
    font-size: 60px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 20px;
}
.minicase-block-item-description {
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

